.IdeaList {
  font-family: sans-serif;
  text-align: center;
}

.Idea {
  font-family: sans-serif;
  text-align: left;
}

.IdeaForm {
  font-family: sans-serif;
  margin-left: 5%;
  padding: 2%;
  background: #ddddddff;
  border: 1px solid #00000000;
  border-radius: 3px;
  text-align: left;
}
